APP_NAME="WB Sync"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

WB_API_BASE_URL=http://109.73.206.144:6969
WB_API_KEY=E6kUTYrYwZq2tN4QEtyzsbEBk3ie
WB_API_LIMIT=500
WB_API_DATE_FROM=2020-01-01
WB_API_DATE_TO=
